body {
  background-image: url('/assets/halftone.png') !important;
  background-repeat: repeat-x repeat-y;
}

video#bgvid {
  position: fixed;
  right: 0; bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; z-index: -100;
  background: url("/assets/initial.png") no-repeat;
  background-size: cover;
}
